%meta(property="og:description" content="#{@data[:id]}.#{@extension} - #{@humanrsize}")/
- assets("highlight.pack.js")
%pre
	%code= html_safe File.read(@data[:file])
%script(type="text/javascript") hljs.initHighlightingOnLoad()
