%video(controls)
	- case file_ext @data[:file]
		- when "mp4"
			%source(src="#{File.basename(@data[:file])}" type="video/mp4")/
		- when "webm"
			%source(src="#{File.basename(@data[:file])}" type="video/webm")/
		- when "mp4"
			%source(src="#{File.basename(@data[:file])}" type="video/ogg")/